* {
    border: 1px solid palevioletred;  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 30vh;
  width: 50vw;
  padding: 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-viewport {

}
