html {
  display: flex;
  justify-content: center;

  --darkgruv-bg-h: #1d2021;
  --darkgruv-bg: #282828;
  --darkgrub-fg: #ebdbb2;
  --darkgruv-red: #cc241d;
  --darkgruv-red-h: #fb4934;
  --darkgruv-green: #98971a;
  --darkgruv-green-h: #b8bb26;
  --lightgruv-green: #98971a;
  --lightgruv-green-h: #79740e;
  --darkgruv-yellow: #d79921;
  --darkgruv-yellow-h: #b57614;
  --darkgruv-blue: #458588;
  --darkgruv-purple: #b16286;
  --darkgruv-aqua: #689d6a;
  --darkgruv-gray: #a89984;
  --darkgruv-orange: #d65d0e;
  --darkgruv-orange-h: #fe8019;

  background-color: var(--darkgruv-bg-h);
}

* {
    /* border: 1px solid palevioletred;   */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'BlexMono Nerd Font','Courier New', monospace;
    /* font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: var(--darkgrub-fg);
}

body {
  min-height: 50vh;
  min-width: 30vw;
  padding: 1%;
  margin: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--darkgruv-bg);
  border: 2px solid var(--darkgruv-yellow);  
  border-radius: 5px;
  font-size: 1.5rem;

  user-select: none;
}

.calc-viewport {
  display: flex;
  justify-content: end;
  align-items: center;

  height: 25%;
  width: 100%;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  padding: 4px;
  padding-left: 0.5em;
  padding-right: 0.2em;
  border-radius: 5px;
  border: 2px solid var(--darkgruv-yellow-h);  

  font-size: 2.2rem;
}

.calc-buttons {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}


.bottom-row {
  padding: 0px;
  width: 100%;
  display: flex;
}

.button {
  min-height: 1.5em;
  min-width: 25%;
  padding: 0.25em;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--darkgruv-yellow-h);  

  transition: background-color 0.1s, border 0.1s, color 0.1s;
}

.button.clicked { 
  background-color: var(--darkgruv-yellow);
  border: 1px solid var(--darkgruv-yellow);
  color: var(--darkgruv-bg);
}


.clear {
  background-color: var(--darkgruv-orange);
  border: 1px solid var(--darkgruv-orange);
}

.clear.clicked {
  /* background-color: var(--darkgruv-gray); */
  /* border: 1px solid var(--darkgruv-gray); */
  background-color: var(--darkgruv-orange-h);
  border: 1px solid var(--darkgruv-orange-h);
  color: var(--darkgruv-bg);
}

.equalsign {
  background-color: var(--lightgruv-green-h);
  border: 1px solid var(--lightgruv-green-h);
  flex-basis: 50%;
}

.equalsign.clicked {
  background-color: var(--darkgruv-green-h);
  border: 1px solid var(--darkgruv-green-h);
  color: var(--darkgruv-bg);
}
